table {
    width: 70%;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  button {
    background-color: #c2185b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 10%;
  
  }
  
  mat-icon{
    cursor: pointer;
  }
  